*{
    margin: 0;
    padding: 0;
}
body{
    height: 200vh;
    background-color: #fff;
    font-family: cursive;
    background-image: linear-gradient(230deg,#f533d4,#2461bb);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width: 100%;
    height: 40px;
    background-color: #fff;
    position: fixed;
    box-shadow: 0 0 6px 1px rgb(0,0,0,0.3);
    z-index: 99;
}
.logo{
    float: left;
}
.logo a{
    font-size: 30px;
    text-decoration: none;
    color: #f533d4;
    padding: 10px;
    transition: 0.5s;
}
.logo a:hover{
    color: #2461bb;
}
.menu{
    float: right;
    margin-top: 5px;
}
.menu a{
    padding: 20px;
    font-size: 20px;
    color: #2461bb;
    text-decoration: none;
    transition: 0.5s;
}
.menu a:hover{
    color: #f533d4;
}
#into{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(image/aa.bmp),linear-gradient(230deg,#f533d4,#2461bb);
    background-blend-mode: luminosity;
    background-size: cover;
}
.skewed{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: skewY(-10deg);
    transform-origin: top left;
}
.text_into{
    font-size: 100px;
    color: #fff;
    margin-top: 200px;
    padding-left: 90px;
    font-family: cursive;
    position: fixed;
    animation: video_start  1 2s;
}
@keyframes video_start{
    0%{
        opacity: 0%;
        margin-top: 250px;
    }
    100%{
        opacity: 100%;
        margin-top: 200px;
    }
}
.text_into span::before{
    content: '';
    animation: change infinite 8s;
}
@keyframes change{
    0%{
        content: 'Good';
    }
    20%{
        content: 'Better';
    }

    40%{
        content: 'Best';
    }
    60%{
        content: 'Great';
    }
    80%{
        content: 'Greater';
    }
    100%{
        content: 'Greatest';
    }
}

.about{
    position: relative;
    margin-top: 65%;
}
.left{
    margin-top: -30px;
    padding-left: 100px;
    text-align: center;
}
.right{
    margin-top: 10px;
    padding-left: 100px;
    text-align: center;
}
.center{
    margin-top: -70px;
    padding-left: 100px;
    text-align: center;
}
html{
    scroll-behavior: smooth;
}
.social-media{
    width: 95%;
    position: relative;
    font-size: 40px;
    margin-top: -25px;
    text-align: left;
}
.social-media i{
    padding-left: 2.5%;
}
#youtube{
    color: #eb4134;
}
#facebook{
    color: #4487fc;
}
#twitter{
    color: #4487fc;
}
.social-media i:hover{
    opacity: 80%;
    cursor: pointer;
}